/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Removing margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Styling the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: gainsboro;
  font-size: 18px;
 }

/* Alternating colored stripes affecting odd only */
ul li:nth-child(odd) {
  background: aquamarine;
}

/* change background-color when hovering over item */
ul li:hover {
  background: white;
}

/* When clicked on, background-color will cahnge to black, color will change to white and text will be crossed out */
ul li.checked {
  background: black;
  color: white;
  text-decoration: line-through;
}

/*Cross out item*/
li.itemremove{
  text-decoration: line-through;
}

/* Styling the header */
.header {
  background-color: plum;
  padding: 30px 40px;
  color: black;
  text-align: center;
}

/* Create space after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Styling the input textbox */
input {
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Styling the "Add" button in the header*/
#addItem {
  padding: 10px;
  width: 25%;
  background: darkgrey;
  color: white;
  float: left;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

#addItem:hover {
  background-color: lightgrey;
}